.App {
  text-align: center;
}
header{
  display: flex;
}
.selector{
  flex:1;
  display: flex;
}
.App-header {
  background-color: #282c34;
  padding: 1px 30px;
  color: white;
  text-align: left;

}
select {
  margin-left:20px;
  font-size: 18px; /* フォントサイズを調整してください */
  width:300px;
  background-color: #282c34;
  border-color: #282c34;
  color: white;
  border:none;

}
select:focus {
  outline: none;
}

.content {
  display: flex;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.image-list-container {
  width: 100%;
  overflow-x: auto;
}

.image-list {
  display: flex;
  flex-wrap: nowrap;
}

.image-list img {
  flex: 0 0 auto;
  width: calc(33%); /* イメージの幅を調整してください */
  height: auto;
  margin-right: 10px; /* イメージ間の間隔を調整してください */
}




label {
  display: block;
  margin-bottom: 10px;
  font-size: 17px; /* フォントサイズを調整してください */
  text-align: left;
}


.main {
  /* flex: 7; */
  padding: 10px;
  background-color: #fff;

}
.iframe-list-container{
  display: flex;
}

.iframe-list {
  flex: 5;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1px; /* 隙間の大きさを指定 */
  justify-content: flex-start; /* 要素を左寄せに配置 */
}

iframe {
  flex: 0 0 calc(33%); /* 要素の幅を計算して指定 */
  height: 450px;
  margin-bottom: 2px;
  border: none;
  transform: scale(1);
}
@media (max-width: 1350px) {
  .main {
    justify-content: space-between; /* 要素を均等に配置 */
  }
  
  iframe {
    flex: 0 0 calc(50%); /* 要素の幅を50%に設定 */
  }
}