.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.content {
  display: flex;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.main {
  flex: 6;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1px; /* 隙間の大きさを指定 */
  justify-content: flex-start; /* 要素を左寄せに配置 */
}

iframe {
  flex: 0 0 calc(33%); /* 要素の幅を計算して指定 */
  height: 450px;
  margin-bottom: 2px;
  border: none;
  transform: scale(1);
}
@media (max-width: 1350px) {
  .main {
    justify-content: space-between; /* 要素を均等に配置 */
  }
  
  iframe {
    flex: 0 0 calc(50%); /* 要素の幅を50%に設定 */
  }
}